@page "/"
@namespace BlazorServer.Pages

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="mb-4">Welcome to Communication Lifecycle</h1>
    <h3 class="mb-4">Please Login as User or Admin to access pages</h3>
  </div>
</div>
