@namespace BlazorServer.Layout

<nav class="nav flex-column bg-dark text-light vh-100 p-3">
  <h5 class="text-white mb-4">Communication Lifecycle</h5>
  <NavLink class="nav-link text-light" href="/" Match="NavLinkMatch.All">Home</NavLink>
  <NavLink class="nav-link text-light" href="/commlist">Communications</NavLink>
  <NavLink class="nav-link text-light" href="/typelist">Types</NavLink>
  <NavLink class="nav-link text-light" href="/event-simulator">Event Simulator</NavLink>
</nav>

<style>
  .nav-link.active {
    background-color: #343a40;
    color: #fff !important;
  }

  .nav-link:hover {
    background-color: #495057;
    color: #fff !important;
  }
</style>
