
<nav class="nav flex-column bg-light vh-100 p-2 flex-shrink-0">
    <a class="nav-link" href="">Login</a>
    <a class="nav-link" href="commlist">Communications</a>
    <a class="nav-link" href="typepage">Types</a>
    <a class="nav-link" href="statuspage">Statuses</a>
</nav>
